.actual {
  &__title {
    &:not(:last-child) {
      margin-bottom: em(9, 90);
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: rem(6);
      }
    }
  }
  &__description {
    max-width: 40rem;
    color: rgba(13, 13, 13, 0.7);
  }

  &__content {
    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 6;
    }
  }

  &__cards {
    grid-column: 6 / span 7;
    display: flex;
    gap: 1.7rem;

    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: span 12;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      grid-column: span 6;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex-direction: column;
      gap: 1.2rem;
    }
  }
  &__cards-col {
    @extend %fl-c;
    gap: 1.7rem;

    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: 1.2rem;
    }
  }

  &__card {
    background-color: var(--clr-lgt);
  }
  &__card--1 .card__icon:not(:last-child) {
    margin-bottom: 15.4rem;
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: 7.7rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: 7.4rem;
    }
  }
  &__card--2 .card__icon:not(:last-child) {
    margin-bottom: 15.3rem;
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: 7.65rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: 7.4rem;
    }
  }
  &__card--3 .card__icon:not(:last-child) {
    margin-bottom: 8.2rem;
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: 4.1rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: 7.4rem;
    }
  }
  &__card--4 .card__icon:not(:last-child) {
    margin-bottom: 22.45rem;
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: 11.275rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: 7.4rem;
    }
  }
}
