.card-navigation {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr));
  }

  &__card {
  }
}
.navigation-card {
  background-color: #f5f5f5;
  min-height: rem(350);
  border-radius: rem(5);
  padding-left: rem(37);
  padding-right: rem(37);
  padding-top: rem(39);
  padding-bottom: rem(45);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  @extend %bg-cov;

  &.navigation-card_soft {
    background: linear-gradient(161.95deg, #cbc3b5 54.06%, #e6dfd4 98.48%);
  }
}
