.cart-preview {
  &__block {
    padding-bottom: rem(50);
    &:not(:last-child) {
      margin-bottom: rem(50);
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  &__title {
    @extend %f-35-600;

    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__items {
  }

  &__item {
    grid-column: span 4;

    @media (any-hover: hover) {
      &:hover {
        .cart-preview__item-title {
          color: var(--clr-black);
        }
        .cart-preview__item-remove {
          opacity: 1;
        }
        .cart-preview__item-image img {
          transform: scale(1.05);
        }
      }
    }
    @media (any-hover: none) {
      .cart-preview__item-title {
        color: var(--clr-black);
      }
      .cart-preview__item-remove {
        opacity: 1;
      }
    }
  }

  &__item-image {
    overflow: hidden;
    img {
      width: 100%;
      height: rem(270);
      border-radius: rem(5);
      transition: transform 0.32s ease;
      object-fit: cover;
    }
    &:not(:last-child) {
      margin-bottom: rem(21);
    }
  }

  &__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
    padding-right: rem(10);
  }

  &__item-title {
    font-weight: 500;
    @include adaptiveValue("font-size", 25, 23);
    line-height: 110%;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.5);

    transition: color 0.32s ease;
  }

  &__item-remove {
    flex: 0 0 rem(24);
    opacity: 0;
    transition: opacity 0.32s ease-in-out;
    svg {
      width: rem(24);
      height: rem(24);
      fill: rgba(0, 0, 0, 0.5);
      transition: fill 0.32s ease;
    }
    @media (any-hover: hover) {
      &:hover svg {
        fill: var(--clr-black);
      }
    }
  }
}
