.clients {
  &__container {
    //== 992px ==//
    @media (max-width: $tb) {
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    position: relative;
    z-index: 3;
    @extend %fl-c;
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(7, 90);
    }
  }
  &__description {
    margin-bottom: auto;
    line-height: 1.4;
    color: rgba(13, 13, 13, 0.7);

    //== 992px ==//
    @media (max-width: $tb) {
      &:not(:last-child) {
        margin-bottom: 0.9rem;
      }
    }
  }
  &__navigation {
    @extend %fl-r-ct;
    gap: 1rem;

    //== 768px ==//
    @media (max-width: $mb) {
      display: none;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      &:not(:last-child) {
        margin-bottom: 0.9rem;
      }
    }
  }

  &__slider {
    position: relative;
    margin-right: -2rem;
    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      background-color: var(--clr-white);
      width: 500%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .slick-list {
      overflow: visible !important;
    }
  }
  &__slide {
    display: flex !important;
    flex-direction: column;
    position: relative;
    min-height: 46rem;
    padding: 4rem 3.6rem;
    background: var(--clr-lgt);
    border-radius: 1rem;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;

    //== 992px ==//
    @media (max-width: $tb) {
      min-height: 42rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      min-height: 38rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      min-height: 36rem;
      padding: 3rem 2.4rem;
    }

    &.slick-current {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 3.7rem;

      //== 576px ==//
      @media (max-width: $mb-m) {
        margin-right: 1.5rem;
      }
    }

    &::before {
      content: '"';
      position: absolute;
      top: 3.6rem;
      right: 3.5rem;
      font-family: var(--ff-acc);
      font-weight: 700;
      @include adaptiveValue("font-size", 140, 100);
      line-height: 90%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
    }
  }
  &__slide-logo {
    margin-bottom: auto;
    picture,
    img {
      max-width: 15rem;

      //== 768px ==//
      @media (max-width: $mb) {
        max-width: 7.3rem;
        max-height: 3.1rem;
      }
    }
  }
  &__slide-text {
    @include adaptiveValue("font-size", 28, 16);
    margin-top: 12rem;
    &:not(:last-child) {
      margin-bottom: em(15, 28);
    }
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: 10rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: 4rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: 2rem;
    }
  }
  &__slide-addition {
    @include adaptiveValue("font-size", 15, 13);
    color: rgba(13, 13, 13, 0.5);
  }
}
