.complete {
  &_bg {
    background-color: #f5f5f5;
    padding-top: rem(77);
    padding-bottom: rem(93);
  }
  position: relative;
  overflow: hidden;
  padding-top: rem(120);
  padding-bottom: rem(148);

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: rem(630);
    &:not(:last-child) {
      margin-bottom: rem(36);
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(30);
  }

  &__image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    bottom: 0;
    right: rem(-100);
    @extend %bg-con;
    background-image: url("@img/complete/bg.svg");

    img {
      position: absolute;
      bottom: rem(-100);
      right: 0;
      opacity: 0;
      transition: opacity 0.5s ease;
      &._active {
        opacity: 1;
      }
      &._storage {
        bottom: rem(-5);
      }
    }
  }
}
.form {
  &__button {
    margin-top: rem(5);
  }
}
