.company {
  &__item {
    border-radius: rem(5);
    background-color: #f5f5f5;
    &:not(:last-child) {
      margin-bottom: rem(17);
    }
    &_1 {
      min-height: rem(620);
      padding: rem(55);
      background-position: center bottom;

      .company__title {
        font-weight: 600;
        @include adaptiveValue("font-size", 45, 20);
        line-height: 110%;
        letter-spacing: -0.02em;
        &:not(:last-child) {
          margin-bottom: rem(11);
        }
      }
    }

    &_2 {
      min-height: rem(243);
      padding: rem(46) rem(31);
      text-align: center;
      background-position: center 75%;
    }

    &_3 {
      min-height: rem(360);
      padding: rem(32) rem(31);
      text-align: center;
    }

    &_4 {
      min-height: rem(243);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: rem(30);
      color: var(--clr-white);
    }

    &_6,
    &_7 {
      background-position: right center;
      padding: rem(51) rem(53);
      .company__title:not(:last-child) {
        margin-bottom: rem(9);
      }
      .company__title,
      .company__description {
        max-width: rem(280);
      }
    }
  }

  &__title {
  }

  &__description {
    color: rgba(0, 0, 0, 0.5);
  }
}
