.connect {
  padding-top: rem(87);
  padding-bottom: rem(81);
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("@img/connect/background.png");

  &__container {
  }

  &__image {
    &:not(:last-child) {
      margin-bottom: rem(42);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__description {
    max-width: rem(1012);
    font-weight: 400;
    @include adaptiveValue("font-size", 24, 18);
    line-height: 140%;
    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__form {
    max-width: rem(920);
  }

  &__form-row {
    display: flex;
    gap: rem(20);
    > * {
      flex-grow: 1;
    }
  }

  &__form-button {
    margin-top: rem(35);
  }
}
