.double-description {
  &_reversed {
    .double-description__image {
      margin-right: 0;
      margin-left: rem(30);
    }
  }
  &__image {
    margin-right: rem(30);
    img {
      width: 100%;
      height: rem(454);
      border-radius: rem(5);
      object-fit: cover;
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(11);
    }
  }
  &__description {
    max-width: rem(485);
    color: rgba(0, 0, 0, 0.7);
    &:not(:last-child) {
      margin-bottom: rem(31);
    }
  }
}
