.double {
  &__container {
  }

  &__image {
  }

  &__button {
  }

  &__content {
    min-height: rem(600);
    display: flex;
    flex-direction: column;
    border-radius: rem(5);
    padding: rem(48);
    padding-top: rem(59);
    background-color: #dad3cf;

    > * {
      max-width: rem(405);
    }

    .description {
      flex: 1 1 auto;
    }

    &_gradient {
      background: linear-gradient(161.95deg, #cbc3b5 54.06%, #e6dfd4 98.48%);
      color: #4d413b;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
}
.button {
  &__arrow {
  }
}
.benefit {
  max-width: rem(444);
  display: flex;
  align-items: center;
  gap: rem(28);

  &__text {
    font-weight: 400;
    @include adaptiveValue("fotn-size", 18, 14);
    line-height: 140%;
    color: #171717;
    .benefit_right & {
      text-align: right;
    }
  }

  &__percentage {
    position: relative;
    flex: 0 0 rem(70);
    width: rem(70);
    height: rem(70);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(8) solid rgba(23, 23, 23, 0.15);

    .benefit_dark & {
      border-color: rgba(0, 0, 0, 0.25);
    }

    text-align: center;
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 14);
    line-height: 100%;
    letter-spacing: -0.07em;
    color: #171717;

    &::before {
      content: "";
      position: absolute;
      width: rem(70);
      height: rem(70);
      @extend %bg-con;
      background-image: url("@img/icons/bordered-circle.svg");
      .benefit_dark & {
        background-image: url("@img/icons/bordered-circle-dark.svg");
      }
    }
  }
}

.info-image {
  @extend %bg-cov;
  border-radius: rem(5);
  padding: rem(30);
  display: flex;
  align-items: flex-end;
}
