.expectations {
  &__description {
    max-width: 63rem;
  }
  &__container {
  }

  &__title {
    position: relative;
    z-index: 3;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      max-width: 25rem;
    }
  }
  &__description {
    position: relative;
    z-index: 3;
    line-height: 1.4;
  }

  &__slider {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 3;
      width: 200%;
      height: 120%;
      transform: translateX(calc(-100% + 0.5rem));
      top: -20%;
      left: 0;
      background-color: var(--clr-black);

      //== 768px ==//
      @media (max-width: $mb) {
        transform: translateX(-100%);
      }
    }
    .slick-list {
      z-index: 2;
      overflow: visible !important;
      padding-top: 3.6rem;
      padding-bottom: 2rem;

      //== 576px ==//
      @media (max-width: $mb-m) {
        padding-top: 3.1rem;
      }
    }
    @extend %ml;
    padding-left: 2rem;

    //== 768px ==//
    @media (max-width: $mb) {
      padding-left: 0.45rem;
    }
  }
  &__slide {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
    @extend %bg-cov;
    height: 60rem;
    padding: 4.2rem 4.5rem;
    transition: all 0.32s ease-in-out;
    outline: none;

    //== 1200px ==//
    @media (max-width: $note-m) {
      height: 50rem;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      height: 45.6rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      height: 42.6rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      height: 37.6rem;
    }

    &:nth-child(3n + 1),
    &:nth-child(3n + 3) {
      width: 42rem;

      //== 768px ==//
      @media(max-width: $mb) {
        width: 36rem;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: 26.3rem;
      }
    }
    &:nth-child(3n + 2) {
      width: 61rem;

      //== 768px ==//
      @media(max-width: $mb) {
        width: 54rem;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: 33.2rem;
      }
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0 1rem 0.3rem rgba(16, 238, 14, 0.6);
      }
    }
  }
  &__slide--flying {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      @extend %bg-con;
    }
    &::after {
      top: -4.8rem;
      left: 0.8rem;
      width: 43rem;
      height: 45rem;
      background-image: url("@img/expectations/suitcase-01.png");

      //== 1200px ==//
      @media(max-width: $note-m) {
        width: 38rem;
        height: 40rem;
      }
      //== 992px ==//
      @media(max-width: $tb) {
        width: 35rem;
        height: 37rem;
      }
      //== 768px ==//
      @media(max-width: $mb) {
        width: 30rem;
        height: 32rem;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: 21.5rem;
        height: 22.5rem;
      }
    }
    &::before {
      top: -25%;
      left: 30%;
      width: 42rem;
      height: 42rem;
      background-image: url("@img/expectations/suitcase-02.png");

      //== 1200px ==//
      @media(max-width: $note-m) {
        width: 40rem;
        height: 40rem;
      }
      //== 992px ==//
      @media(max-width: $tb) {
        width: 34rem;
        height: 34rem;
      }
      //== 768px ==//
      @media(max-width: $mb) {
        width: 29rem;
        height: 29rem;
      }
      //== 576px ==//
      @media (max-width: $mb-m) {
        width: 21rem;
        height: 21rem;
      }
    }
  }
  &__slide-title {
    font-weight: 400;
    max-width: 30.7rem;
    @extend %f-21;
    color: rgba(255, 255, 255, 0.7);

    .expectations__slide--light & {
      color: rgba(13, 13, 13, 0.7);
    }

    strong {
      font-weight: 500;
      color: var(--clr-white);

      .expectations__slide--light & {
        color: var(--clr-main);
      }
    }
  }
}
