.expectations {
  &__description {
    max-width: 63rem;
  }
  &__container {
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: em(4, 90);
    }
  }

  &__slider {
    .slick-list {
      z-index: 2;
      overflow: visible !important;
      padding-top: 3.6rem;
      padding-bottom: 2rem;
    }
    @extend %ml;
    padding-left: 2rem;
  }

  &__slide {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
    @extend %bg-cov;
    height: 60rem;
    padding: 4.2rem 4.5rem;
    transition: all 0.32s ease-in-out;

    &:nth-child(3n + 1),
    &:nth-child(3n + 3) {
      width: 42rem;
    }
    &:nth-child(3n + 2) {
      width: 61rem;
    }

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-0.5rem);
        box-shadow: 0 0 1rem 0.3rem rgba(16, 238, 14, 0.6);
      }
    }
  }

  &__slide--flying {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      @extend %bg-con;
    }
    &::before {
      top: -4.8rem;
      left: 0.8rem;
      width: 43rem;
      height: 45rem;
      background-image: url("@img/expectations/suitcase-01.png");
    }
    &::after {
      top: -25%;
      left: 30%;
      width: 42rem;
      height: 42rem;
      background-image: url("@img/expectations/suitcase-02.png");
    }
  }

  &__slide-title {
    font-weight: 400;
    max-width: 30.7rem;
    @extend %f-21;
    color: rgba(255, 255, 255, 0.7);

    .expectations__slide--light & {
      color: rgba(13, 13, 13, 0.7);
    }

    strong {
      font-weight: 500;
      color: var(--clr-white);

      .expectations__slide--light & {
        color: var(--clr-main);
      }
    }
  }
}
