.fields {
  &__title {
    max-width: 4rem;

    &:not(:last-child) {
      margin-bottom: em(19, 90);
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: 0.9rem;
      }
    }
  }

  &__content {
    padding-right: 5rem;

    //== 1200px ==//
    @media (max-width: $note-m) {
      padding-right: 0;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      grid-column: span 12;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;

    img,
    picture {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      opacity: 0;

      transition: opacity 0.3s ease-in-out;

      &:first-child,
      &._active {
        opacity: 1;
      }

      &._active {
        z-index: 2;
      }
    }

    //== 992px ==//
    @media (max-width: $tb) {
      display: none;
    }
  }
}
