.inner-cards {
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }
  }
  &__description {
    max-width: rem(1080);
    &:not(:last-child) {
      margin-bottom: rem(44);
    }
  }

  .grid-container {
    grid-auto-flow: column;
    row-gap: rem(17);
  }

  &__card {
    border-radius: rem(5);
    background-color: #f5f5f5;
  }

  &__col {
    display: grid;
    gap: rem(17);
  }
}
.models {
  display: flex;
  flex-direction: column;
  padding: rem(122) rem(56) rem(52) rem(56);

  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 90, 40);
    line-height: 80%;
    letter-spacing: -0.08em;
    color: #d12d33;

    &:not(:last-child) {
      margin-bottom: rem(19);
    }
  }

  &__subtitle {
    max-width: rem(332);
    margin-bottom: auto;
  }

  &__description {
    max-width: rem(370);
    color: rgba(0, 0, 0, 0.5);
  }
}
.performance {
  min-height: rem(620);
  position: relative;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: rem(152) rem(85) rem(55) rem(55);
  background: linear-gradient(195deg, rgba(245, 245, 245, 0) 5.63%, #f5f5f5 55.49%);

  .inner-cards_super & {
    background: #fff;
    padding: rem(48) rem(55) rem(54);
    border: 1px solid #f5f5f5;
    .performance__title {
      &:not(:last-child) {
        margin-bottom: rem(12);
      }
    }
    .performance__decription {
      max-width: rem(387);
    }
  }

  .inner-cards_storage & {
    justify-content: flex-end;
  }

  &__first-title {
    max-width: rem(277);
    flex: 1 1 auto;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @extend %bg-con;
    background-size: rem(380) auto;
    .inner-cards_super & {
      background-image: url("@img/inner-cards/super.png");
    }
    .inner-cards_storage & {
      background-image: url("@img/inner-cards/storage.png");
      background-size: rem(576) auto;
      background-position: center top;
    }
    background-image: url("@img/inner-cards/image.png");
    background-position: right 15%;
  }

  &__percentage {
    display: inline-flex;
    padding: rem(5) rem(38) rem(5) rem(13);
    @extend %bg-con;
    background-image: url("@img/cover.svg");

    font-weight: 600;
    @include adaptiveValue("font-size", 70, 42);
    line-height: 130%;
    letter-spacing: -0.08em;
    color: var(--clr-white);

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }
  &__storage-title {
  }

  &__title {
    max-width: rem(332);
    @extend %f-24-600;
    margin-bottom: auto;
  }

  &__decription {
    @extend %f-20-400;
    color: rgba(0, 0, 0, 0.5);
  }
}
.showrooms-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: rem(360);
  padding: rem(42) rem(36) rem(41) rem(49);

  background-repeat: no-repeat;
  background-position: right 10%;

  &_end {
    justify-content: flex-end;
    .showrooms-card__description:not(:last-child) {
      margin-bottom: rem(7);
    }
    .showrooms-card__description:last-child {
      margin-bottom: 0;
    }
  }

  &_transparent {
    .quantity__hours {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &__hours {
    display: block;
    max-width: rem(220);
    letter-spacing: -0.06em;
    line-height: 1;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__title {
    @extend %f-24-600;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__description {
    max-width: rem(320);
    @extend %f-17-400;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: auto;
  }

  &__link {
    font-weight: 600;
    @include adaptiveValue("font-size", 17, 12);
    line-height: 140%;
    letter-spacing: -0.02em;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);

    transition:
      color 0.32s ease,
      border-color 0.32s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--clr-green);
        border-color: var(--clr-green);
      }
    }
  }
}
.franchise-card {
  min-height: rem(243);
  padding: rem(34) rem(30) rem(42) rem(44);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-white);
  &__title {
    margin-bottom: auto;
  }

  &__link {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
    transition: border-color 0.32s ease;
    @media (any-hover: hover) {
      &:hover {
        border-color: var(--clr-white);
      }
    }
  }
}
.quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: rem(360);
  padding: rem(67) rem(36) rem(40) rem(36);

  text-align: center;

  &_transparent {
    .quantity__hours {
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &_gradient {
    text-align: left;
  }

  &__gradient {
    flex: 1 1 auto;
    font-weight: 600;
    @include adaptiveValue("font-size", 50, 26);
    line-height: 95%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.25) 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__hours {
    display: block;
    max-width: rem(220);
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    @include adaptiveValue("font-size", 64, 32);
    line-height: 70%;
    letter-spacing: -0.06em;

    &:not(:last-child) {
      margin-bottom: rem(43);
    }
  }

  &__title {
    @extend %f-24-600;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__description {
    @extend %f-17-400;
    color: rgba(0, 0, 0, 0.5);
  }
}
.icon-card {
  height: rem(243);
  padding: rem(56) rem(30) rem(40) rem(30);
  border-radius: rem(5);
  background: linear-gradient(136.98deg, #84816d 24.14%, #9f9d8a 100%);

  text-align: center;
  color: var(--clr-white);
  svg {
    fill: var(--clr-white);
  }
  &__title {
    @extend %f-24-600;

    margin-top: rem(16);
  }
}
.blank-image {
  &_dark {
    padding: rem(46) rem(31);
    align-items: flex-start;
    color: var(--clr-black);
    background-position: center 80%;
  }

  height: rem(243);
  display: flex;
  align-items: flex-end;
  padding: rem(40) rem(30);
  @extend %bg-cov;

  text-align: center;
  color: var(--clr-white);
  &__title {
    @extend %f-24-600;
  }
}
