.product {
  &_covered.product_light {
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    .product__body {
      padding-top: rem(66);
      padding-bottom: rem(57);
      padding-left: rem(55);
    }
    .product__cover {
      position: relative;
      border-radius: rem(5);
    }
    &::before {
      display: none;
    }
  }
  &_super {
    .product__body {
      max-width: rem(575);
    }
  }
  &_light {
    position: relative;
    padding-top: rem(66);
    padding-bottom: rem(57);
    color: var(--clr-white);
    .product__body {
      position: relative;
      z-index: 2;
      text-align: left;
    }
    .product__container {
      position: relative;
      z-index: 2;
      border-radius: rem(5);
    }
    .product__logo {
      color: var(--clr-white);
      &::before {
        background-image: url("@img/icons/left-product.svg");
      }
      &::after {
        background-image: url("@img/icons/right-product.svg");
      }
      &:not(:last-child) {
        margin-bottom: rem(78);
      }
    }
    button.product__button {
      background-color: var(--clr-white);
      color: var(--clr-black);
      backdrop-filter: blur(5px);
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      border-radius: rem(5);
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  &_main {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      @extend %bg-con;
      background-image: url("@img/product/image.png");
      background-position: 80% center;
    }
    .product__body {
      position: relative;
      z-index: 2;
    }
  }
  padding-top: rem(130);
  padding-bottom: rem(107);
  background-color: #f5f5f5;

  background-position: 80% center;

  &__body {
    text-align: center;
    max-width: rem(545);
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: rem(3.5);
    font-weight: 600;
    @include adaptiveValue("font-size", 35, 22);
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    &::before,
    &::after {
      content: "";
      flex: 0 0 rem(20);
      width: rem(20);
      height: rem(40);
      @extend %bg-con;
    }
    &::before {
      background-image: url("@img/left-product.svg");
    }
    &::after {
      background-image: url("@img/right-product.svg");
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(18);
    }
  }

  &__description {
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.03em;

    @include adaptiveValue("font-size", 22, 16);
    &:not(:last-child) {
      margin-bottom: rem(55);
    }
  }

  &__button.button {
    backdrop-filter: none;
    background-color: var(--clr-black);
  }
}
