.sound {
  &__container {
  }

  &__title {
  }

  &__description {
    max-width: rem(1080);
    &:not(:last-child) {
      margin-bottom: rem(39);
    }
  }

  &__cards {
  }

  &__card {
    min-height: rem(310);
    display: flex;
    flex-direction: column;
    padding: rem(31);
    border: 1px solid #e7e7e7;
    border-radius: 5px;

    background-position: center bottom;
  }

  &__card-title {
    font-weight: 500;
    @include adaptiveValue("font-size", 28, 19);
    line-height: 140%;
    letter-spacing: -0.03em;
  }

  &__card-description {
    font-weight: 400;
    @include adaptiveValue("font-size", 18, 14);
    line-height: 140%;
    letter-spacing: -0.03em;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: auto;
  }

  &__card-button {
    flex: 0 0 rem(50);
    width: rem(50);
    height: rem(50);
    border-radius: 100%;
    background-color: var(--clr-green);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      flex: 0 0 rem(16);
      width: rem(16);
      height: rem(16);
      fill: var(--clr-white);
    }
  }
}
