.team {
  &__title {
    @include adaptiveValue("font-size", 70, 38);

    //== 768px ==//
    @media (max-width: $mb) {
      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }
  }
  &__header {
    align-items: end;
    &:not(:last-child) {
      margin-bottom: 3.7rem;
    }

    //== 768px ==//
    @media (max-width: $mb) {
      display: block;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
  &__description {
    grid-column: 7 / span 4;
    opacity: 0.7;
    padding-bottom: 0.7rem;
    @include adaptiveValue("font-size", 19, 15);

    //== 1200px ==//
    @media (max-width: $note-m) {
      grid-column: 7 / span 6;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      max-width: 42rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      max-width: 30rem;
    }
  }
  &__body {
    display: flex;
    gap: 10.5rem;

    @media (max-width: $pc) {
      gap: 2rem;
      justify-content: space-between;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      overflow: auto;
      padding-bottom: 1rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-right: -2rem;
      padding-right: 2rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      gap: 3.6rem;
    }
  }
  &__card {
    flex: 0 0 27rem;

    &:last-child {
      margin-left: auto;

      @media (max-width: $pc) {
        margin-left: 0;
      }
    }

    //== 1360px ==//
    @media (max-width: $note-l) {
      flex: 0 0 24rem;
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      flex: 0 0 20rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      flex: 0 0 18.5rem;
    }
  }
}
