//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.4rem 1.8rem 1.5rem;
  border-radius: 2.8rem;
  @extend %f-16-500;
  background-color: rgba(16, 24, 37, 0.07);
  transition: all 0.3s ease;

  &.button--acc {
    padding: 2.1rem 3.2rem 2.7rem;
    border-radius: 1rem;
    @extend %f-18-500;

    background-color: var(--clr-acc);
    @media (any-hover: hover) {
      &:hover {
        border-radius: 2.8rem;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--clr-acc);
      color: var(--clr-white);
      border-radius: 1rem;
    }
  }
}
