// Снипет (HTML): inp
input[type='text'],
input[type='submit'],
input[type='email'],
input[type='tel'],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	height: rem(48);
	display: block;
	padding: 0px 20px;
	border: 1px solid #eee;
	&.just-validate-error-field {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}
