.general-navigation {
  display: none;
  position: fixed;
  z-index: 20;
  bottom: rem(15);
  left: 50%;
  transform: translateX(-50%);
  border-radius: rem(30);
  align-items: center;
  justify-content: center;
  gap: rem(40);

  padding: rem(16) rem(24) rem(18) rem(24);

  background: rgba(57, 57, 57, 0.9);
  box-shadow: 0px 4px 30px -10px #000000;
  backdrop-filter: blur(5px);

  font-weight: 500;
  @include adaptiveValue("font-size", 18, 13, 991.98);
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--clr-white);
  white-space: nowrap;

  transition: transform 0.6s ease;

  &__button {
    background-color: transparent;
    transition: all 0.4s ease;
  }

  .menu-open & {
    transform: translateX(-50%) translateY(rem(-9));
    transition: transform 0.6s ease;
  }
  .menu-open &.hidden {
    transform: translateX(-50%) translateY(rem(100));
    transition: transform 0.2s ease;
  }
  &.hidden {
    transform: translateX(-50%) translateY(rem(100));
    transition: transform 0.2s ease;
  }

  &__close {
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    svg {
      width: rem(20);
      height: rem(20);
      fill: var(--clr-white);
    }
    transition: opacity 0.38s ease;
  }

  .menu-open &:not(.hidden) .general-navigation__close {
    display: flex;
    opacity: 1;
  }
}
