.menu {
  &__body {
    > ul {
      @extend %fl-r-ct;
      gap: 4.1rem;
    }
    > ul > li {
    }
    > ul > li > a {
      display: inline-block;
      @extend %hover;
      @extend %f-18-500;
      letter-spacing: -0.03em;
    }
    > ul > li ul {
    }
    > ul > li ul li {
    }
    > ul > li ul li a {
    }
  }
}

//====================================================================================================
.icon-menu {
  display: none;
  @media (max-width: $mb) {
    display: block;
    position: relative;
    width: rem(22);
    height: rem(16);
    cursor: pointer;
    z-index: 31;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.35s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: var(--clr-white);
      border-radius: 20px;
    }
    &::before {
      top: 0;
      animation: menu07-bar01 0.55s forwards;
    }
    span {
      top: calc(50% - rem(1));
      transition: all 0.25s 0.25s;
      opacity: 1;
    }
    &::after {
      bottom: 0;
      animation: menu07-bar03 0.55s forwards;
    }
    .menu-open & {
      &::before {
        animation: active-menu07-bar01 0.55s forwards;
      }
      span {
        opacity: 0;
      }
      &::after {
        animation: active-menu07-bar03 0.55s forwards;
      }
    }
  }
}

@keyframes menu07-bar01 {
  0% {
    transform: translateY(7px) rotate(45deg);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(7px) rotate(0);
  }

  100% {
    transform: translateY(7px) rotate(45deg);
  }
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    transform: translateY(-7px) rotate(0);
  }

  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}
