.footer {
  padding-top: 15.6rem;
  padding-bottom: 16.6rem;
  @extend %bg-cov;
  background-color: var(--clr-black);
  color: var(--clr-white);
  background-image: url("@img/footer/background.jpg");

  //== 1200px ==//
  @media (max-width: $note-m) {
    padding-top: 9.56rem;
    padding-bottom: 10.2rem;
  }
  //== 768px ==//
  @media (max-width: $mb) {
    padding-top: 8.56rem;
    padding-bottom: 9.2rem;
  }
  //== 576px ==//
  @media (max-width: $mb-m) {
    padding-top: 7.56rem;
    padding-bottom: 7.2rem;
  }

  &__container {
    @media (max-width: em(669.98)) {
      grid-template-columns: 1fr;
      row-gap: 7.4rem;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 0.4rem;
    }
  }
  &__content {
    @media (max-width: em(679.98)) {
      grid-column: span 1;
    }
  }
  &__description {
    line-height: 1.4;
    &:not(:last-child) {
      margin-bottom: em(36, 21);
    }
  }
  &__button {
    color: var(--clr-main);
  }

  &__info {
    @extend %fl-c;
    gap: 1.7rem;
    align-items: end;
    text-align: right;
    grid-column: 9 / span 4;

    @media (max-width: em(679.98)) {
      grid-column: span 1;
      align-items: start;
      gap: 1.2rem;
    }
  }
  &__logo {
    svg,
    img,
    picture {
      width: 19.4rem;
      height: 3.4rem;
    }
    svg {
      fill: var(--clr-acc);
      transition: fill 0.32s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover svg {
        fill: var(--clr-white);
      }
    }

    //== 576px ==//
    @media (max-width: $mb-m) {
      &:not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }
  }
  &__list {
    @extend %fl-r-ct;
  }
  &__item {
    display: inline-flex;
    &:not(:first-child)::before {
      content: ",";
      @extend %f-16-500;
      margin-right: 0.6rem;
    }
  }
  &__link {
    display: inline-block;
    @extend %hover;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.03em;
    padding-bottom: 0.3rem;

    &::after {
      background-color: var(--clr-white);
    }
  }
  &__phone {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.4;
    @extend %hover;
    font-weight: 700;
    letter-spacing: -0.02em;

    &::after {
      background-color: var(--clr-white);
    }
    @media(max-width: em(669.98)) {
      &:not(:last-child) {margin-bottom: 4rem;}
    }
  }
  &__copyrights {
    font-size: 1.5rem;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.2);

    @media (max-width: em(669.98)) {
      text-align: left;
    }
  }
}
//====================================================================================================
