//====================================================================================================
.footer {
  padding-top: 15.6rem;
  padding-bottom: 16.6rem;
  @extend %bg-cov;
  background-color: var(--clr-black);
  color: var(--clr-white);
  background-image: url("@img/footer/background.jpg");

  &__container {
    justify-content: space-between;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: em(4, 90);
    }
  }
  &__description {
    &:not(:last-child) {
      margin-bottom: em(36, 21);
    }
  }
  &__button {
    color: var(--clr-main);
  }

  &__info {
    @extend %fl-c;
    gap: 1.7rem;
    align-items: flex-end;
    text-align: right;
    grid-column: 10 / span 3;
  }
  &__logo {
    svg,
    img,
    picture {
      width: 19.4rem;
      height: 3.4rem;
    }
    svg {
      fill: var(--clr-acc);
      transition: fill 0.32s ease-in-out;
    }

    @media (any-hover: hover) {
      &:hover svg {
        fill: var(--clr-white);
      }
    }
  }
  &__list {
    @extend %fl-r-ct;
  }
  &__item {
    display: inline-flex;
    &:not(:first-child)::before {
      content: ",";
      @extend %f-16-500;
      margin-right: 0.6rem;
    }
  }
  &__link {
    display: inline-block;
    @extend %hover;
    font-size: 1.6rem;
    line-height: 1.4;
    letter-spacing: -0.03em;
    padding-bottom: 0.3rem;

    &::after {
      background-color: var(--clr-white);
    }
  }
  &__phone {
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.4;
    @extend %hover;
    font-weight: 700;
    letter-spacing: -0.02em;

    &::after {
      background-color: var(--clr-white);
    }
  }
  &__copyrights {
    font-size: 1.5rem;
    line-height: 170%;
    letter-spacing: -0.03em;
    color: rgba(255, 255, 255, 0.2);
  }
}
//====================================================================================================
