// Подключение общих CSS-переменных
:root {
  //* Переменные
  --header-height: 10rem;
  --ff-acc: "Theater", "Inter", sans-serif;

  //* Цвета
  --clr-white: #fff;
  --clr-main: #0d0d0d;
  --clr-black: #000;
  --clr-acc: #10ee0e;
}
