@use "sass:math";

@import "base/mixins";
@import "fonts/fonts";

$fontFamily: "Inter", sans-serif;
$mainColor: #000; // Цвет шрифта по умолчанию

// Минимальная ширина страницы
$minWidth: 360;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1480;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth);
$note-xl: em(1439.98);
$note-l: em(1365.98);
$note-m: em(1199.98);
$note-s: em(1023.98);
$tb: em(991.98);
$tb-s: em(869.98);
$mb: em(767.98);
$mb-m: em(575.98);
$mb-s: em(439.98);
$mb-xs: em(369.98);

// Тип адаптива:
$responsiveType: 2;

@import "./root";
@import "base/null";

body {
  color: var(--clr-main);
  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  .loaded & {
  }
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  > main {
    flex: 1 1 auto;
  }
}
.page {
  padding-top: var(--header-height);

  section:not(:first-child) {
    margin-top: 17.2rem;
    //== 1360px ==//
    @media (max-width: $note-l) {
      margin-top: 15rem;
    }
    //== 1200px ==//
    @media (max-width: $note-m) {
      margin-top: 12rem;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      margin-top: 10rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-top: 8rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: 7.2rem;
    }
  }
  section.application--horizontal:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 13rem;
    }
  }
  section.application--small-reversed:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 12rem;
    }
  }
  section.application:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 12.2rem;
    }
  }
  section.application--horizontal:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 14.5rem;
    }
  }
  section.counters:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 16rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: 8.2rem;
    }
  }
  section.clients:not(:first-child) {
    //== 1200px ==//
    @media (min-width: $note-m) {
      margin-top: 15rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-top: 8rem;
    }
  }
  section.cover + section.cover,
  section.cover-dark + section.cover,
  section.cover + section.cover-dark,
  section.cover-dark + section.cover-dark {
    margin-top: 0;
  }

  &:not(:last-child) {
    margin-bottom: 14.7rem;

    //== 1200px ==//
    @media (max-width: $note-m) {
      margin-bottom: 12rem;
    }
    //== 992px ==//
    @media (max-width: $tb) {
      margin-bottom: 10rem;
    }
    //== 768px ==//
    @media (max-width: $mb) {
      margin-bottom: 8.8rem;
    }
    //== 576px ==//
    @media (max-width: $mb-m) {
      margin-bottom: 7.8rem;
    }
  }
}

@if ($responsiveType == 1) {
  .container {
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding > 0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  .container {
    margin: 0 auto;
    @if ($maxWidthContainer > 0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    }
    @if ($containerPadding > 0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
    @media (max-width: $pc) {
      max-width: rem(1300);
    }
    //== 1360px ==//
    @media (max-width: $note-l) {
      max-width: rem(1140);
    }
    @media (max-width: $note-m) {
      max-width: rem(960);
    }
    @media (max-width: $tb) {
      max-width: rem(750);
    }
    @media (max-width: $mb) {
      max-width: none;
      @if ($containerPadding > 0 and $maxWidthContainer > 0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
@import "base";
// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей небольших элементов
@import "elements/logo";
@import "elements/menu";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение крупных блоков
@import "blocks/hero";
@import "blocks/actual";
@import "blocks/fields";
@import "blocks/expectations";
@import "blocks/counters";
@import "blocks/trust";
@import "blocks/clients";
@import "blocks/application";
